html, body {
    font-family: "Open Sans", sans-serif !important;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
.row{
	margin-right: 15px !important;
    margin-left: 15px !important;
}
/* Header and header content */
.bg-image {
    background-image: url('images/hero.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    font-weight: 500;
    font-size: 0.9em;
    padding: 0px !important;
}
.bg-black {
	background: rgb(0, 0, 0, 0.3);
	height: 100% !important;
}
.navbar-button {
    border: white 2px solid;
}
.navbar-nav li {
    padding-right: 10px;
}
.navbar-nav a:hover {
    color: #FA7C30 !important;
}
.header-content {
    padding-top: 10%;;
}
.header-content h1 {
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.header-content span {
    color:#FA7C30;
}
.header-content p {
    color: white;
    font-size: 1.3em;
    font-weight: 400;
}
.header-content a {
    text-decoration: none;
    color: white;
    background-color: #FA7C30;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
}
.header-content a:hover {
    text-decoration: none;
    color: black;
}
.nav-items li a{
	float: right;
}
/* Second section */
.second-section-heading h1{
	font-weight: 600;
}
.second-section-heading h1 span {
	color: #FA7C30;
}
.second-section-heading p {
	margin-right: 50%;
}
.second-section-heading p:nth-child(1) {
	font-weight: 700;
}
.second-section-heading p:nth-child(2) {
	color: gray;
}
.second-section-heading a {
    text-decoration: none;
    color: white;
    background-color: #FA7C30;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
}
.second-section-heading a:hover {
    text-decoration: none;
    color: black;
}
.image-wrap img {
	max-width: 90%;
}
.second-section-heading {
	position: relative;
	left: 10%;
}
/* Third section */
.cards {
	background-color: #F4F9FC;
	width: 100%;
	padding: 40px;
}
.first-box img {
	max-width: 100%;
}
.cards a {
	text-decoration: none;
    color: white;
    background-color: #FA7C30;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
}
.cards a:hover {
    text-decoration: none;
    color: black;
}
.third-section-heading {
	padding-left: 15px;
	padding-top: 20px;
	font-weight: 700px;
}
.third-section-heading h1 {
	font-weight: 600;
}
.third-section-heading h1 span {
	color: #FA7C30;
}
/* Fourth section */
.bg-image-second {
    background-image: url('images/image5.jpg');
    height: 75%;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.fourh-section-content {
    padding-top: 15%;
    color: white;
}
.fourh-section-content h3 {
    font-size: 2.5em;
    font-weight: 500;
}
.fourh-section-content h1 {
    font-size: 5em;
    font-weight: 800;
}
.fourh-section-content a {
    text-decoration: none;
    color: white;
    background-color: #FA7C30;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
}
.fourh-section-content a:hover {
    text-decoration: none;
    color: black;
}
.fourh-section-content div {
    padding-top: 20px;
}


/* media screen */
@media screen and (max-width:1110px) {
    .second-section-heading p {
        font-size: 0.8em;
    }
@media screen and (max-width:991px) {
    .navbar-nav>li>a {
        font-size: 1.2em !important;
    }
    .header-content {
        padding-top: 10%;
        position: relative;
    }
    .header-content h1 {
        font-size: 4em;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
    }
    .navbar-button {
    	padding: 10px !important;
    }
    .second-section-heading {
    	padding-top: 20px;
    }
	.second-section-heading p {
	    margin-right: 20% !important;
	}
    .cards {
    	padding: 10px;
    	text-align: center;
    }
}
@media screen and (max-width:767px) {
    .navbar-nav>li>a {
        font-size: 0.8em !important;
    }
    .header-content {
        padding-top: 20%;
        position: relative;
        text-align: center;
    }
    .header-content h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    .header-content p {
        color: white;
        font-size: 0.9em;
        font-weight: 400;
        text-align: center;
    }
    .header-content a {
        text-decoration: none;
        color: white;
        background-color: #FA7C30;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 20px;
    }
    .bg-black nav button {
    	margin-right: 10px;
    }
    .second-section-heading {
    	left:0% !important;
    	padding-top: 20px;
    }
    .second-section-heading h1 {
    	font-size: 2.6em;
    }
    .second-section-heading p {
    	margin-right: auto !important;
    }
    .first-box {
    	padding-top: 20px;
    }
}